
.grid{
  display:grid;
  grid-template-columns:1fr 5fr 1fr;
  grid-auto-rows:minmax(100px, auto);
  grid-gap:1em;
  justify-items:stretch;
  align-items:stretch;
}


.head{
  /*grid-area: head;*/
  grid-column: 1/4;
  background-color: red;
}

.welcome_box{
  /*grid-area: welcome;*/
  grid-column: 2/3;
  background-color: blue;
}

.location{
  /*grid-area: location;*/
  grid-column: 2/3;
  background-color: green;
}

.outfits{
  /*grid-area: outfits;*/
  grid-column: 2/3;
  background-color: yellow
}

.foot{
  /*grid-area: foot;*/
  grid-column: 1/4;
  background-color: orange;
}
