


body{
     height: 100%;
     width: 100%;
     display: block;
     position: relative;
     margin: 0;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;


}

body::after{
  background-image: url("https://images.unsplash.com/photo-1453486030486-0a5ffcd82cd9?auto=format&fit=crop&w=2087&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  opacity: 0.3;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid{
  display:grid;
  grid-template-columns:1fr 5fr 1fr;
  grid-auto-rows:minmax(10px, auto);
  grid-gap:1em;
  justify-items:stretch;
  align-items:stretch;
}

.head{
  grid-column: 1/4;
  font-family: 'Playfair Display', serif;
  font-size: 27px;
  /*background-color: white;*/
  border: 5px dotted black;
}

h1{
  text-align: center;
}

.welcome_box{
  grid-column: 2/3;
  border: 5px dotted black;
  font-family: 'Playfair Display', serif;
  /*background-color: white;*/

}
.welcome_box::after{
  opacity: 0.7;
}

h2{
  text-align: center;
  font-size: 27px;
}

p{
  text-align: center;
  font-size: 23px;
}

.location{
  grid-column: 2/3;
  font-family: 'Playfair Display', serif;

}

.locationText{
  display: grid;
  font-family: 'Playfair Display', serif;
  padding: 40px;
  justify-content: center;
  font-size: 25px;

}

.submit-location{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 25px;

}

.button{
  background-color: white;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  border-radius: 8px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  margin-left: 10px;

}

#location-search{
  border-radius: 8px;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.ex{
  grid-column: 2/3;
  font-family: 'Playfair Display', serif;
  font-size: 23px;
  justify-content: center;
}

.outfits-text{

  grid-column: 2/3;
  font-family: 'Playfair Display', serif;
  font-size: 23px;
}
.outfits{
  grid-column: 2/3;
  font-family: 'Playfair Display', serif;
}

.accessories{
  grid-column: 2/3;
  font-family: 'Playfair Display', serif;
  font-size: 23px;
}



.foot{
  grid-column: 1/4;
  background-color: orange;
  font-family: 'Playfair Display', serif;
}
img {
  border: 7px solid black;
  margin: 10px;
}

.clothing-choice{
  display: grid;
  grid-column: 2/3;
  justify-content: center;

}

select{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    width: 300px;
}
